<div id="how-to-modal" class="reveal-modal" data-reveal>
  <div class="row">
  	<div class="small-12 columns">
			<h2>Donation Guidelines:</h2>
		</div>
  </div>
  <div class="row">
  	<div class="small-12 columns">
			<h3>Make sure your waste food is suitable for donation:</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<ul id="donation-guidelines">
				<li>It must be packaged appropriately and date labelled</li>
				<li>It must be within the use by date</li>
				<li>Packaging must not be damaged or split</li>
				<li>Food for freezing is accepted but not fresh food that has been frozen</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>Look out for Oodls food icons that list exactly what types of food every organisation included on our site can accept as donations.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
		<p>If you have further questions about making a donation please contact the charity directly, using the details listed on their profile page</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>To view further guidelines for making a donation to a Tesco food bank please view all info on Tesco <a href="http://foodcollection.tesco.com/#together">food collection page</a></p>
		</div>
	</div>
  <a class="close-reveal-modal">&#215;</a>
</div>
