<div class="row">
  <div id="map"></div>
</div>
<div class="search-box row">
  <div class="small-12 columns small-centered">
    <div class="row small-collapse medium-uncollapse">
      <div class="small-10 columns">
        <form id="user-postcode">
          <div class="row collapse">
            <div class="small-9 medium-10 columns">
              <input type="text" name="postcode" id="postcode" placeholder="Please enter your postcode..." autocomplete="off">
            </div>
            <div class="small-3 medium-2 columns">
              <input type="submit" class="button postfix">
            </div>
        </div>
        </form>
      </div>
      <div class="small-2 columns">
        <button id="user-geolocation" class="button postfix">
          <span class="text">Use my location</span>
        </button>
      </div>
    </div>
  </div>
</div>