<div id="splash">
  <div class="splash-slide item">
      <%= image_tag "splash-images/splash-1.jpg" %>
    <div class="text">
      <h1>We throw away 7 million tonnes of food and drink from our homes every year</h1>
    </div>
  </div>
  <div class="splash-slide item">
    <%= image_tag "splash-images/splash-2.jpg" %>
    <div class="text">
      <h1>We throw away more food from our homes than packaging</h1>
    </div>
  </div>
  <div class="splash-slide item">
    <%= image_tag "splash-images/splash-6.jpg" %>
    <div class="text">
      <h1>Between 2007 and 2012 avoidable food waste has been reduced by 21%, equivalent to over 1 million tonnes</h1>
    </div>
  </div>
  <div class="splash-slide item">
    <%= image_tag "splash-images/splash-4.jpg" %>
    <div class="text">
      <h1>An area almost the size of Wales would be needed to grow all of the food we throw away each year</h1>
    </div>
  </div>
</div>
