<template hidden id='tesco-info-window'>
  <div style="overflow-x: hidden; overflow-y: auto;">
    <hr style="margin-top: 2px; margin-bottom: 6px; opacity: 0;">

    <div class="row">
      <div class="small-12 columns" style="width: 200px; font-size: 13px;">
      <p><img src="/images/tesco-logo.svg"></p>
      Tesco partner with Fareshare and The Trussell Trust.  You can donate produce of any brand at this store.
      <p style="font-size: 13px; margin-bottom: -1px; margin-top: 4px;"><a href="http://foodcollection.tesco.com/#together"> Learn more about their programme here.</a>
      </div>
    </div>
  </div>
</template>