<div class="twitter">
  <a href="https://twitter.com/intent/tweet?url=http://oodls.io;text=Join us in the fight against food waste at" onclick="javascript:void window.open('https://twitter.com/intent/tweet?url=http://oodls.io/;text=Join us in the fight against food waste at','1420732250022','width=550,height=253,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;">
    <img id="tweet-image" src="images/tweet.png">
  </a>
</div>
