<div class="row stats">
  <div id="stats-carousel" class="owl-carousel">
    <div class="item">
      Almost 50% of the total amount of food thrown away in the UK comes from our homes.
    </div>
    <div class="item">
      We throw away 7 million tonnes of food and drink from our homes every year in the UK.
    </div>
    <div class="item">
      We throw away more food from our homes than packaging in the UK every year.
    </div>
    <div class="item">
      Between 2007 and 2012 avoidable food waste has been reduced by 21%, equivalent to over 1 million tonnes.
    </div>
    <div class="item">
    An area almost the size of Wales would be needed to grow all of the food we throw away each year.
    </div>
  </div>
</div>

<div class="row">
  <div id="map"></div>
</div>

<div class="search-box row">
  <div class="small-12 columns small-centered">
    <div class="row">
      <form id="user-postcode">
        <div class="small-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" name="postcode" id="postcode" placeholder="Please enter your postcode..." autocomplete="off">
            </div>
            <div class="small-2 columns">
              <input type="submit" class="button postfix">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="small-6 small-centered columns">
        <button id="user-geolocation" class="button expand">
          Use my location
        </button>
      </div>
    </div>
  </div>
</div>

<%= content_tag :div, class: "charity_data_class", data: {charities_for_map: @charities_for_map} do %>
<% end %>

<%= javascript_include_tag 'gmaps', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'map_index_page', 'data-turbolinks-track' => true %>
