<div class="row">
  <div id="map"></div>
</div>

<div class="search-box row">
  <div class="small-12 columns small-centered">
    <div class="row">
      <form id="user-postcode">
        <div class="small-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" name="postcode" id="postcode" placeholder="Please enter your postcode..." autocomplete="off">
            </div>
            <div class="small-2 columns">
              <input type="submit" class="button postfix">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="small-6 small-centered columns">
        <button id="user-geolocation" class="button expand">
          Use my location
        </button>
      </div>
    </div>
  </div>
</div>


 <template id='charity-info-window'>
    <p><b>{{ organisation }}</b><br />
    <b>We are currently accepting:</b><br />
    {{ food_requirements }}<br />
    <b>Weekday opening hours:</b><br />
    {{ weekday_hours }}<br />
    <b>Weekend opening hours:</b><br />
    {{ weekend_hours }}<br />
    <a href="/charities/{{ id }}">Click here for more info</a>
  </template>

<%= content_tag :div, class: "charity_data_class", data: {charities_for_map: @charities_for_map} do %>
<% end %>

<%= javascript_include_tag 'gmaps', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'map_index_page', 'data-turbolinks-track' => true %>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js'></script>