/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .

 */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.top-bar {
  z-index: 20;
}

.row.messages {
  margin-top: 20px;
}

/*  MAP PAGE  */

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 2.8125em;
  left: 0;
}

.search-box {
  z-index: 10;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
}

@media (max-width: 640px) {
  .align-search-box {
    bottom: 5px;
    top: inherit;
    line-height: 2.3125rem;
    display: block;
  }
}

@media (min-width: 641px) {
  .align-search-box {
    top: 3.5em;
  }
}

#map img {
  max-width: inherit;
}

/*  CHARITY LISITING  */

.charity-listing {
  border-bottom: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (max-width: 640px) {
  .charity-listing {
    padding-left: 4px;
  }
}

.charity-profile {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.charity-image img {
  margin-bottom: 20px;
}

/*  CHARITY SIGN UP */

.required:after {
  content: "*";
  color: red;
}









