/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation
 *= require owl.carousel
 *= require animate
 *= require owl.theme
 *= require animate
 *= require_tree .

 */

@import "foundation_and_overrides";

.top-bar {
  z-index: 100;
}

.row.messages {
  margin-top: 20px;
}

/*----------------------------------------
LOGO FORMATTING
----------------------------------------*/

.title-area .logo {
  display: inline-block;
  height: 80px;
  width: 140px;
  padding: 10px;
  margin-left: 20px;
  background-color: #62a905;
}

.title-area .logo svg #left-eye, .title-area .logo svg #right-eye {
  stroke: #fff;
  transition: 1s ease;
}

.title-area .logo svg #head, .title-area .logo svg #beak, .title-area .logo svg .letter {
  fill: #fff;
}

.title-area .logo svg #head, .title-area .logo svg #beak {
  transition: 1s ease;
}

.title-area .logo svg #d {
  transition: 1.25s ease;
}

.title-area .logo svg #l {
  transition: 1.5s ease;
}

.title-area .logo svg #s {
  transition: 1.75s ease;
}

.title-area .logo:hover svg #left-eye, .title-area .logo:hover svg #right-eye {
  stroke: #362009;
}

.title-area .logo:hover svg #head, .title-area .logo:hover svg #beak, .title-area .logo:hover svg .letter {
  fill: #362009;
}

/*----------------------------------------
TWEET BUTTON
----------------------------------------*/

.twitter {
  position: absolute;
  top: calc(100% - 100px);
  left: calc(100% - 80px);
  z-index: 50;
  background: #62a905;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  transition: 1s all ease;
}

.twitter:hover {
  background: #362009;
}

#tweet-image {
  width: 45px;
  height: 45px;
  margin: 5px;
  -webkit-filter: brightness(0%) invert(100%) grayscale(100%);
  -moz-filter: brightness(0%) invert(100%) grayscale(100%);
  filter: brightness(0%) invert(100%) grayscale(100%);
}

@media only screen and (max-width: 72em) {
  .twitter {
    width: 35px;
    height: 35px;
    top: calc(100% - 40px);
    left: calc(100% - 60px);
  }

  #tweet-image {
    width: 25px;
    height: 25px;
    margin: 5px;
  }
}

/*----------------------------------------
LINKS AND BUTTONS
----------------------------------------*/
a:focus, .button:focus {
  outline: 2px solid #62a905;
  outline-offset: 1px;
}

/*----------------------------------------
LOGO MOBILE
----------------------------------------*/
@media only screen and (max-width: 40em) {
  .title-area .logo {
    height: 4.0625rem;
    padding: 5px 10px;
  }
}
